/* might change color to #141B21 */

/* overflow-y:auto;
height: 100%;
  this is what you need for scroll bar-articles*/

html, body{
  min-height: 100%;
  background-color: #d0d0d0;
  /* background-color: #141B21; */
}

@font-face {
}

.title {
margin-top: 60px;
margin-left: 40px;
color: black;
font-family: 'Fahkwang', sans-serif;
font-size: 20px;
font-style: italic;
}

.floatleft {
    background-color: #d0d0d0;
    /* background-color: #141B21; */
    float: left;
    top: 18%;
    left: 4%;
    width: 49%;
    position: fixed;
    text-align: center;
}

.menu ul, .menu a {
  font-family: Roboto, sans-serif;
  color: black;
  text-decoration: none;
  font-size: 22px;
}
.menu ul, .menu a:hover {
  border-bottom: 14px solid;
}


.wrap {
    box-shadow: 0px 10px 30px 10px red inset ;
    /* box-shadow: 0px 10px 42px 5px white inset; */
    top: 10px;
    background-color: #d0d0d0;
    /* background-color: #141B21; */
    width: 55%;
    position: absolute;
    padding-left: 10px;
    border-radius: 25px;
    min-height:100%;

}

.who{
  margin-top: 75px;
  padding: 28px;
  margin-right: 5px;
  font-family: 'Fahkwang', sans-serif;

}


.floatright {
   background-color: #d0d0d0;
    float: right;
    /* background-color: #141B21; */
    margin-top: -2%;
    height: 90%;
    width: 40%;

}

.thewife{
  width:100%;
}

.face {
  width: 100%;
}
.brush{
  width: 100%;
}

.draw{
  width: 40%;
}

.mask{
  width: 100%;
}

.mask{
  width: 101/%;
}

.eye{
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
}

.img{
  top: 0;
  left: 0;
  width: 30%;
}
